services:
  elasticsearch.helper:
            class: ElasticSearchBundle\Helper\ElasticSearchHelper
            arguments:
                - '%elastica_connections%'

  elasticsearch.doctrine.subscriber:
            class: ElasticSearchBundle\EventListener\ElasticSearchListener
            arguments:
              - '@event_dispatcher'
              - '@elasticsearch.handler'
            tags:
                - { name: doctrine.event_subscriber }

  elasticsearch.handler:
              class: ElasticSearchBundle\Handler\ElasticSearchHandler
              calls:
                  - [ setContainer, ['@service_container'] ]
